In [ ]:
import pandas as pd
import numpy as np
import itertools
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Kuliah S2/Semester IV/Tesis/Dataset/datasiap.csv')

In [ ]:
data = data.drop(['Unnamed: 0','Ingredient','Manufacturers','Product',], axis=1)
data.head(4)

,index,from,to,Labeling
0,299104,3 ayam mie telor super merah,indomaret keripik tempe sagu,0
1,889854,3 ayam mie telor super merah,milo healthy drink polybag activ-go,0
2,889855,3 ayam mie telor super merah,red bull gold energy drink can,0
3,889856,3 ayam mie telor super merah,matchamu makjamu,0

In [ ]:
def jaccard_similarity(x, y):
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

In [ ]:
jaccard_similarity(data['from'][0], data['to'][0])

0.5789473684210527

In [ ]:
data['Jaccard'] = data.apply(lambda row: jaccard_similarity(row['from'], row['to']), axis=1)

In [ ]:
data

,index,from,to,Labeling,Jaccard
0,299104,3 ayam mie telor super merah,indomaret keripik tempe sagu,0,0.578947
1,889854,3 ayam mie telor super merah,milo healthy drink polybag activ-go,0,0.521739
2,889855,3 ayam mie telor super merah,red bull gold energy drink can,0,0.428571
3,889856,3 ayam mie telor super merah,matchamu makjamu,0,0.333333
4,889858,3 ayam mie telor super merah,nestle air mineral pure life,0,0.647059
...,...,...,...,...,...
159680,139143,yeo's drink grass jelly,indomaret teng teng noga kacang wijen,0,0.578947
159681,602438,yeo's drink grass jelly,red bull gold energy drink can,0,0.666667
159682,314471,yeo's drink grass jelly,big babol candy stick strawberry,0,0.684211
159683,314473,yeo's drink grass jelly,buavita juice slim apple,0,0.318182
159684,314474,yeo's drink grass jelly,buavita guava,0,0.210526

In [ ]:
data.sort_values(by=['Labeling'])

,index,from,to,Labeling,Jaccard
0,299104,3 ayam mie telor super merah,indomaret keripik tempe sagu,0,0.578947
106414,92300,julie's sandwich choco more,indomaret kacang koro original,0,0.550000
106415,29006,julie's sandwich choco more,kolln crunchy muesli choco brittle,0,0.571429
106416,421071,julie's sandwich choco more,luwak white koffie 3 rasa,0,0.523810
106417,92298,julie's sandwich choco more,indomaret kacang mete madu,0,0.550000
...,...,...,...,...,...
108910,818,kayarasa jasela instant,kayarasa jahe merah instant,1,0.785714
89129,90,indomaret kemplang bulat,indomaret kemplang mini,1,0.875000
66584,318,good mood minuman ekstrak buah blackcurrant,good mood minuman ekstrak buah stroberi,1,0.888889
38007,46,cap botol teh bubuk biru,cap botol teh celup hijau,1,0.800000
54165,102,eternalplus mineral water,indomaret air minum dengan oksigen sporty,1,0.611111

In [ ]:
data.to_csv('Jaccard.csv')